node_modules/
node_modules.failed*/
.npm-cache/
.playwright/
.node/
dist/
build/
coverage/
playwright-report/
test-results/
.DS_Store
.env
.env.*
*.local
*.bag
*.pcd
*.csv
.idea/
.vscode/
*.tsbuildinfo
